@model IEnumerable<FrontEnd.Models.MensajesContactoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4 text-center tituloPaginaIndex" style="margin-top: 200px;">Mensajes de contacto</h1>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-1">
    <form asp-controller="Carrito" asp-action="ActualizaCarrito" method="post">
        <div class="table-responsive shopping-cart">
            <table class="table">
                <thead>
                    <tr style="border: hidden">
                        <th style="border: hidden">Id del mensaje</th>
                        <th style="border: hidden">Nombre de la persona</th>
                        <th style="border: hidden">Correo</th>
                        <th style="border: hidden">Telefono</th>
                        <th style="border: hidden">Id del local</th>
                        <th style="border: hidden">Mensaje</th>


                    </tr>
                </thead>
                <tbody>


                    @{

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <div class="product-item">

                                        <div class="product-info">
                                            <h4 class="product-title "><a href="#"> @item.IdMensaje</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-item">

                                        <div class="product-info">
                                            <h4 class="product-title "><a href="#"> @item.NombrePersona</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-item">

                                        <div class="product-info">
                                            <h4 class="product-title "><a href="#"> @item.Correo</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-item">

                                        <div class="product-info">
                                            <h4 class="product-title "><a href="#"> @item.Telefono</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-item">

                                        <div class="product-info">
                                            <h4 class="product-title "><a href="#"> @item.IdLocal</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-item">

                                        <div class="product-info">
                                            <h4 class="product-title "><a href="#"> @item.Mensaje</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <form asp-action="Delete" id="formularioMio-@item.IdMensaje" method="post">
                                        <script>
                                            var formularioMio = document.getElementById('formularioMio-@item.IdMensaje');
                                            formularioMio.addEventListener('submit', function (event) {
                                                event.preventDefault();
                                                mostrarMensaje();
                                            });
                                            function mostrarMensaje(idMensaje) {
                                                Swal.fire({
                                                    title: '¿Esta seguro?',
                                                    text: "Se eliminara el mensaje",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonColor: '#d33',
                                                    cancelButtonColor: '#3085d6',
                                                    confirmButtonText: 'Eliminar',
                                                    cancelButtonText: 'Cancelar'
                                                }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        Swal.fire(
                                                            'Eliminado!',
                                                            'El mensaje se ha eliminado con exito',
                                                            'success'
                                                        ).then(function () {
                                                            //document.forms[7].submit();
                                                            var formularioMio = document.getElementById('formularioMio-' + idMensaje);
                                                            formularioMio.submit();
                                                        });

                                                    }
                                                })
                                            }
                                        </script>
                                        <input value="@item.IdMensaje" name="idMensaje" hidden />
                                        <input onclick="mostrarMensaje(@item.IdMensaje)" type="button" value="Eliminar mensaje" class="btn btnCatalogo" />                                        
                                    </form>
                                </td>
                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
    </form>
</div>


<br />
<br />
<br />
<br />
<br />
<br />