@model IEnumerable<FrontEnd.Models.LocalViewModel>

@{
    ViewData["Title"] = "Index";
}




<h1 class="display-4 text-center tituloPaginaIndex" style="margin-top: 200px;">Tiendas</h1>


<div class="container-fluid">   
    
    <div class="row g-0 bg-light position-relative vinculoDonFer">

        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="card-title subTituloResta subtituloPaginaIndex subTituloNosotros">Disfrute de exquisitos platillos</h5>
            <p>
                En el restaurante Don Fernando disfrutará de una experiencia gastronómica para todos los gustos, gracias a la variedad de platillos
                y cortes de carne que son preparados cuidadosamente por expertos parrilleros. Además, encontrará el ambiente ideal para compartir
                un rato agradable y saborear carne 100% costarricense, libre de hormonas, antibióticos y aditivos.
            </p>
        </div>
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="~/Imagenes/imgCatalogoInfo/disfrute_nuestros_platillos.jpg" class="w-100" style="max-width: 600px" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-5 justify-content-center">
        @Html.ActionLink("Agregar tienda", "Create", "Local")
    </div>
    <br />
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">

                <div class="card  tarjetasCatalogoInfo" style="max-width: 350px;">

                    <div class="card-body" style="background-color: #D20005">
                        <h5 class="card-title tituloTienda"> @Html.DisplayFor(modelItem => item.NombreLocal)</h5>
                        <p class="card-text textoTienda"> @Html.DisplayFor(modelItem => item.Ubicacion)</p>
                        <p class="card-text textoTienda "> @Html.DisplayFor(modelItem => item.Telefono)</p>
                        <p class="card-text textoTienda"> @Html.DisplayFor(modelItem => item.Horario)</p>
                    </div>
                    <img src="@Url.Content(@item.UrlImg)" class="card-img-top" />
                    <div class="d-flex justify-content-around" style="margin-top: 12px;">

                        <form asp-action="Delete" id="formularioMio-@item.IdLocal" method="post">
                            <script>
                                var formularioMio = document.getElementById('formularioMio-@item.IdLocal');
                                formularioMio.addEventListener('submit', function (event) {
                                    event.preventDefault();
                                    mostrarMensaje();
                                });
                                function mostrarMensaje(idLocal) {
                                    Swal.fire({
                                        title: '¿Esta seguro?',
                                        text: "Se eliminara la tienda",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#d33',
                                        cancelButtonColor: '#3085d6',
                                        confirmButtonText: 'Eliminar',
                                        cancelButtonText: 'Cancelar'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            Swal.fire(
                                                'Eliminado!',
                                                'La tienda se ha eliminado con exito',
                                                'success'
                                            ).then(function () {
                                                 //document.forms[7].submit();
                                                var formularioMio = document.getElementById('formularioMio-'+idLocal);
                                                formularioMio.submit();
                                            });

                                        }
                                    })
                                }
                            </script>
                            <input value="@item.IdLocal" name="idLocal" hidden />
                            <input onclick="mostrarMensaje(@item.IdLocal)" type="button" value="Eliminar tienda" class="btn btnCatalogo" />
                            @Html.ActionLink("Editar tienda", "Edit", "Local", new {id = item.IdLocal}, new { @class = "btnCatalogo btn " })
                        </form>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />